/* ========================================
  ABOUT SECTION
======================================== */

.about-section {
  position: relative;
  padding: 90px 5%;
  margin-top: -160px;
  margin-bottom: -290px;
  z-index: 10;
}

/* CONTENEDOR */

.about-bar {
  box-shadow: 0 1px 70px rgba(0, 0, 0, 0.3);
  backdrop-filter:blur(12px);
  background: linear-gradient(90deg, var(--bg-section), rgba(168,85,247,0.25));
  border-radius: 16px;
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

/* TEXTO */

.about-intro {
  max-width: 200px;
  color: var(--text-primary);
}

.about-intro h3 {
  font-size: 1rem;
}

.about-intro p {
  font-size: 0.8rem;
  color: var(--text-primary);
}

/* CARDS */

.about-cards {
  min-height:90px;
  display: flex;
  gap: 10px;
}

/* TARJETAS */

.about-card {
  cursor:pointer;
  color: var(--text-primary);
  padding: 15px;
  width: 180px;
  border-radius:20px;
  border:1px solid var(--glass-border);
  backdrop-filter:blur(12px);
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  transition:var(--transition);
  height:100%;
  background: var(--glass-bg);
  box-shadow: var(--shadow-hero);
}

.about-card:hover {
  transform:translateY(-5px);
  border-color:rgba(255,115,0,0.35);
  box-shadow:0 0 50px rgba(168,85,247,.2);
}

.about-card h4 {
  margin-bottom: 6px;
  font-size: 1rem;
}

.about-card p {
  font-size: 0.8rem;
  line-height: 1.4;
  margin-top: 6px;
  margin-bottom: 0px;
  color: var(--text-secondary);
}

    /* =========================
      REVEAL ABOUT SECTION
    ========================= */

  .about-section .reveal-item {
    opacity: 0;
    transform: translateY(50px);
  }

  .about-section.visible .reveal-item {
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }

  /* cascada */

  .about-section.visible .about-card:nth-child(1){ transition-delay: 0.2s; }
  .about-section.visible .about-card:nth-child(2){ transition-delay: 0.3s; }
  .about-section.visible .about-card:nth-child(3){ transition-delay: 0.4s; }


/* MOBILE */

@media (max-width: 768px) {
  .about-section {
    margin-top: -290px;
    margin-bottom: -330px;
  }

  .about-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 10px;
    max-width: 100%;
    padding: 30px;
  }

  .about-intro {
    padding: 5px 0;
    grid-column: 1;
    max-width: none;
  }

  .about-cards {
    display: contents;
  }

  .about-card {
    width: 100%;
  }
}