.servicios-page {
  padding-top: 160px;
  padding-bottom: 120px;
}

.servicios-title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.servicios-sub {
  text-align: center;
  max-width: 600px;
  margin: auto;
  opacity: 0.8;
  margin-bottom: 60px;
}

.servicios-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}


.service-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 2.5rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: var(--transition);
    position: relative;
}