/* ========================================
  WHY SECTION
======================================== */

.why-section {
  position: relative;
  padding: 100px 5% 60px;
  overflow: hidden;
  color: white;

  background:
    linear-gradient(
      135deg,
      rgba(255,115,0,0.50),
      rgba(169,85,247,0.38)
    ),
    url("../assets/dots-bg5.png");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ========================================
  CONTAINER
======================================== */

.why-container {
  max-width: 1200px;
  margin: auto;
}

/* ========================================
  HEADER
======================================== */

.why-header {
  text-align: center;
  margin-bottom: 70px;
}

.why-header h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.why-header p {
  max-width: 700px;
  margin: auto;
  opacity: 0.8;
}

/* ========================================
  GRID
======================================== */

.why-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* ========================================
  CARD
======================================== */

.why-card {
  position: relative;
  overflow: hidden;

  flex: 1 1 260px;
  max-width: 260px;

  padding: 28px;

  background: var(--soft);
  border: 1px solid var(--glass-border);
  border-radius: var(--radius);

  backdrop-filter: blur(12px);

  color: var(--text-1);
  text-align: center;

  box-shadow: 0 20px 60px rgba(0,0,0,0.5);

  transition: var(--transition);
}

/* brillo suave */

.why-card::before{
  content:"";
  position:absolute;
  inset:0;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.05),
    transparent
  );

  opacity:0;
  transition:0.4s;
}

.why-card:hover::before{
  opacity:1;
}

/* hover */

.why-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 25px 70px rgba(255,119,0,0.3);
  border-color: rgba(255,119,0,0.3);
}

/* ========================================
  ICON
======================================== */

.why-icon {
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: var(--color-primary);
}

.why-card h3 {
  margin-bottom: 10px;
}

/* ========================================
  TABLET
======================================== */

@media (max-width: 900px) {

  .why-card {
    flex: 1 1 45%;
    max-width: none;
  }

}

/* ========================================
  MOBILE
======================================== */

@media (max-width: 768px) {

  .why-section {
    padding: 60px 5% 50px;
                /* FIX ZOOM BACKGROUND MOBILE */
    background-size: contain;
  }

  .why-grid {
    gap: 10px;
  }

  .why-card {
    flex: 1 1 calc(50% - 8px);
    max-width: none;
    padding: 15px 8px;
  }

  .why-card h3 {
    font-size: .9rem;
  }

  .why-card p {
    font-size: .8rem;
  }

  .why-icon {
    font-size: 1.8rem;
  }

}